<div ng-controller="TasksCtrl">
  <div class="section-header">
    <h1>Posted Tasks</h1>
    <div class="section-action">
      <a class="button button-huge" href="/tasks/new">New Task</a>
    </div> 
  </div>
  <p ng-hide="postedTasks.length">You have no posted tasks.</p>
  <table class="tasks tasks-posted" ng-show="postedTasks.length">
    <tr class="task" ng-repeat="task in postedTasks">
      <th>{{task.title}}</th>
      <td>{{task.status}}</td>
      <td>
        <button class="button">View</button>
        <button class="button">Update</button>
        <button class="button">Cancel</button>
      </td>
    </div>
  </table>
  <div class="available-tasks-section" ng-if="userIs('volunteer')" ng-controller="AvailableTasksCtrl">
    <h1>Available Tasks</h1>
    <p ng-hide="availableTasks.length">You have no posted tasks.</p>
    <table class="tasks tasks-available" ng-show="availableTasks.length">
      <tr class="task" ng-repeat="task in availableTasks">
        <th>{{task.title}}</th>
        <td>{{task.createdAt}}</td>
        <td>
          <button class="button">View</button>
        </td>
      </tr>
    </table>
  </div>
  
</div>
