<div class="hero cover skyline">
  <div class="hero content text-center">
    <h1 class="hero h1 bm-xsmall">
      People need help 
    </h1>
    <h2 class="hero h2 bm-small">
      Give and ask for help to make your community better
    </h2>
    <div class="hero buttons">
      <button class="hero button" ng-click="go('/signup')">Give a hand</button>
      <button class="hero button" ng-click="go('/signup')">Ask for help</button>
    </div>
  </div>
</div>
<div class="row marketing">
  <div class="md reversed vcenter">
    <div class="md-body">
      <h3 class="h3 blue">Find ways to help</h3>
      <p class="marketing copy">
        Whether it’s delivering food
        for the homeless or picking up
        donations. <span class='faded-blue'>We’ll help you help</span>
      </p>
    </div>
    <div class="figure car">
      <img src='/images/home/toyota-corolla.png'/>
    </div>
  </div>
</div>
<div class="cover helps">
</div>
<div class="row marketing">
  <div class="md vcenter">
    <div class="figure">
      <img src='/images/home/volunteers.png'/>
    </div>
    <div class="md-body volunteers">
      <h3 class="h3 blue">Good hearts, eager help</h3>
      <p class="marketing copy">
        Tap into a network of people who
        want to do good. Describe what
        you need. Post your task. 
        <span class='muted'>We'll do our best to get it done</span>
      </p>
    </div>
  </div>
</div>
<div class="cover llama">
  <div class="row">
    <div class="full text-right">
      <div class="llama content">
        <h4 class="hero h1">Give for good</h4>
        <h5 class="hero h2">When everyone helps, everyone wins</h5>
        <button class="huge red button" ng-click="go('/signup')">Join Today</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="full attribution text-center">
    hands is a <a href='feedingforward.com'>feedingforward</a> project. &copy; 2014 <br/>
    large highway photo by <a href='flickr.com/kevincappis'>flickr.com/kevincappis</a>. kitchen photo by <a href='flickr.com/mwparenteau'>flickr.com/mwparenteau</a>
  </div>
</div>
